Repository devowlio/wp-react-starter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, reinstall, docker purge

install:
  before_script:
  - yarn install --frozen-lockfile
  - composer install
  - yarn grunt copy-npmLibs
  - yarn grunt cachebuster:public
  stage: validate
  script: echo .

reinstall:
  before_script:
  - yarn install --frozen-lockfile
  - composer install
  - yarn grunt copy-npmLibs
  - yarn grunt cachebuster:public
  variables:
    GIT_CLEAN_FLAGS: -ffdx
  stage: validate
  script: echo .

docker purge:
  services:
  - docker:dind
  allow_failure: true
  script:
  - docker ps -a
  - export CURRENT_CONTAINERS=$(docker ps -a --format "{{.ID}} {{.Names}}" | awk '$2~/wprjss_development_/{print $1}')
  - echo $CURRENT_CONTAINERS
  - test "$CURRENT_CONTAINERS" && docker rm -f -v $CURRENT_CONTAINERS
  - docker volume ls
  ...

ci(wait-on): wait on wp up
  .gitlab-ci.yml
  package.json
  yarn.lock
Due: reinstall, docker purge

feat(ci): test CI pipeline
  public/src/component-library/index.tsx
Due: install

build(version): yarn release allows you to update package.json and index.php
  .gitlab-ci.yml
  README.md
  build/grunt.js
  index.php
  package.json
  public/src/admin.tsx
  public/src/store/index.tsx
  public/src/widget.tsx
  tsconfig.json
  yarn.lock
Due: reinstall, docker purge

chore: last adjustments before create-wp-react-app testing
  README.md
  composer.json
  cypress/integration/page_spec.js
  package.json
Due: install

refactor: use constant instead of strings where possible
  .gitlab-ci.yml
  build/grunt-index-php.tmpl
  cypress/integration/page_spec.js
  docker/development/docker-compose.yml
  inc/general/Assets.class.php
  inc/menu/Page.class.php
  index.php
  package.json
  public/src/admin.tsx
Due: install, docker purge

ci(deploy): added deploy stage to wordpress.org
  .gitignore
  .gitlab-ci.yml
  CHANGELOG
  Gruntfile.js
  README.md
  README.wporg.txt
  assets/banner-1544x500.png
  assets/banner-772x250.png
  assets/icon-128x128.png
  assets/icon-256x256.png
  assets/screenshot-1.png
  build/gitlab-runner-config.txt
  build/grunt-readme-txt.tmpl
  build/grunt.js
  docker/container/ci/Dockerfile
  index.php
  package.json
Due: install, docker purge

chore: updated gitignore
  .gitignore
  .vscode/settings.json
Due: install

feat(env): yarn wp-wait now waits correctly + i18n-calypso module refactoring
  .gitignore
  .gitlab-ci.yml
  README.md
  docker/scripts/container-wordpress-cli-entrypoint.sh
  docker/scripts/container-wordpress-command.sh
  inc/general/Assets.class.php
  package.json
  webpack.config.js
Due: install, docker purge

ci: yarn wp-wait uses now docker exec
  README.md
  build/grunt-index-php.tmpl
  index.php
  package.json
  webpack.config.js
Due: install

ci: use dcompose with correct compose project name
  .gitlab-ci.yml
Due: install, docker purge

ci: do use non-interactive docker exec
  package.json
Due: install

ci: split docker-compose contexts in different files
  .gitlab-ci.yml
  .vscode/settings.json
  README.md
  build/traefik.txt
  docker/development/docker-compose.ci.yml
  docker/development/docker-compose.local.yml
  docker/development/docker-compose.traefik.yml
  docker/development/docker-compose.yml
  docker/scripts/container-wordpress-command.sh
  docker/scripts/purge-ci.sh
  package.json
Due: install, docker purge

ci: traefik test
  public/src/component-library/index.tsx
Due: install

ci: test traefik
  public/src/component-library/index.tsx
Due: install

ci: output env variables for testing
  .gitlab-ci.yml
  docker/development/docker-compose.ci.yml
  docker/development/docker-compose.traefik.yml
Due: install, docker purge

ci: use correct dist folder
  .gitlab-ci.yml
  docker/development/docker-compose.ci.yml
  public/src/component-library/index.tsx
Due: install, docker purge

ci: timeout for docker exec
  .gitlab-ci.yml
Due: install, docker purge

ci: use && operator in variables only
  .gitlab-ci.yml
Due: install, docker purge

feat(public): typed ajax requests
  public/src/component-library/index.tsx
  public/src/rest/index.tsx
  public/src/rest/plugin.get.tsx
  public/src/util/ajax.tsx
  public/src/util/index.tsx
Due: install

feat(i18n): use wp cli to generate .pot files for frontend and backend automatically
  README.md
  inc/base/Assets.class.php
  inc/general/Assets.class.php
  inc/general/Core.class.php
  inc/general/JsI18n.class.php
  inc/general/Localization.class.php
  inc/widget/Widget.class.php
  languages/wp-reactjs-starter.pot
  package.json
  public/languages/wp-reactjs-starter.pot
  public/src/component-library/Todo.tsx
  public/src/component-library/index.tsx
  public/src/util/i18n.tsx
  public/src/widget/index.tsx
  webpack.config.js
  yarn.lock
Due: reinstall

chore(deps): update dependency lodash to v4.17.13 [security]
  yarn.lock
Due: reinstall

ci(naming): refactor ci to e2e
  .gitlab-ci.yml
  docker/development/docker-compose.e2e.yml
  docker/development/docker-compose.yml
  package.json
Due: install, docker purge

refactor: lf line endings, dcompose to docker-compose alias
  .gitlab-ci.yml
  .prettierrc
  README.md
  package.json
Due: install, docker purge

ci: use another git clone path and copy cache
  .gitlab-ci.yml
  .vscode/extensions.json
Due: install, docker purge

ci: test install process with new reinstall copycache mechanism
  .gitlab-ci.yml
  public/src/component-library/index.tsx
Due: install, docker purge

ci(test): use cypress run directly instead of image
  .gitlab-ci.yml
Due: install, docker purge

ci(e2e): use own cypress dind docker image
  .gitlab-ci.yml
  cypress/integration/page_spec.js
  docker/container/ci-e2e/Dockerfile
  docker/container/ci/Dockerfile
  docker/scripts/build-ci-e2e-image.sh
  docker/scripts/push-ci-e2e-image.sh
  package.json
Due: install, docker purge

ci: use correct artifacts in wp.org deployment
  .gitlab-ci.yml
Due: install, docker purge

ci(container): add wput to container for ftp actions
  CHANGELOG
  docker/container/ci/Dockerfile
  index.php
  package.json
Due: install, docker purge

ci: correctly use svn commit
  .gitlab-ci.yml
Due: install, docker purge

chore(deps): update all dependencies docker tags
  docker/container/ci-e2e/Dockerfile
  docker/development/docker-compose.yml
Due: install, docker purge

chore(deps): update all dependencies
  package.json
  yarn.lock
Due: reinstall

docs: add gitlab badge to README
  README.md
Due: install

docs: wring link to devowl.io privacy policy
  LICENSE
Due: install

ci: make vuepress work with relative pathes through own sed command
  common/vuepress-php.ts
  devops/.gitlab/stage-build.yml
Due: install

ci: improve composer install and publishing of docs
  .gitlab-ci.yml
  devops/.gitlab/stage-release.yml
  package.json
  plugins/wp-reactjs-starter/package.json
Due: install, docker purge

fix: enqueue ReactDOM version correctly (#3jm006)
  packages/utils/src/Assets.php
  packages/utils/test/phpunit/AssetsTest.php
Due: install

fix: old PHP versions (7.1) reported a bug related to namespaces
  plugins/wp-reactjs-starter/src/inc/Localization.php
Due: install

Path conditions:
  install: not (any of: yarn.lock, composer.lock)
  reinstall: any of: yarn.lock, composer.lock
  docker purge: any of: docker/**/*, .gitlab-ci.yml
